{
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "exclude": [
    "coverage/**/*.js",
    "lib/integration-test/**/*",
    "lib/src/index.js",
    "lib/test/**/*",
    "lib/src/types",
    "lib/**/*.d.ts",
    "src/types",
    "src/index.ts",
    "test",
    "integration-test",
    ".eslintrc.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "cache": false,
  "all": true,
  "check-coverage": true,
  "report-dir": "./coverage"
}
